$screen-xs: 400px;
$screen-sm: 640px;
$mobile: 767.98px; // 768px
$screen-md: 991.98px; // 992px
$screen-xl: 1199.98px; // 1200px
$screen-2xl: 1399.98px; // 1400px
$screen-3xl: 1599.98px; // 1600px
$screen-4xl: 1799.98px; // 1800px

$font-primary:"Poppins";

$font-weight-300:300;
$font-weight-400:400;
$font-weight-500:500;
$font-weight-600:600;

$line-height-100:100%;
$line-height-120:120%;
$line-height-140:140%;

$color-black:#000;
$color-white:#FFFFFF;
$color-red:#FF4B4B;
$color-orange:#FFAA29;
$color-green:#5EFF81;

$color-purplebg:#AC46F6;
$color-purplebg40:rgb(172 70 247 / 40%);
$color-darkbluebg:#040D30;
$color-lightbluebg:#42518F;
$color-lightdarkbluebg:#10193E;
$color-darkblue: #11183B;
$color-chatblue: #3A4A9D;

$color-purpleline:#ac46f6;
$color-lightblueline:#7E94FF;

$color-bluebutton:#4C66D1;
$color-lightbluebutton:#2A3562;
$color-greenbutton:#4EFFBF;

$color-lightbluefont:#4C66D1;

